@model WebApplication1.Models.User

<h1 class="text-center"> Change Password </h1>

<div class="text-center">
    <form asp-action="ChangePassword" asp-controller="Account" asp-antiforgery="true" method="post">
        <div asp-validation-summary="ModelOnly" d></div>
        <div class="form-group">
            @Html.HiddenFor(x => x.Id)

            <div class=" m-2">
                <label for="oldPassword">Old password </label>
                <input name="oldPassword" type="Password" placeholder="old password" />
            </div>
            <div class=" m-2">
                <label for="newPassword">New password </label>
                <input name="newPassword" type="Password" placeholder="New password" />
            </div>

            <input type="submit" value="Change" class="btn btn-info m-2 w-25" />
        </div>

    </form>
</div>